/* Tags do HTML */

p{
  margin-bottom: 10px;
}


/* Backgrounds */





/* cores de fundo */

.bg-danger-color{
background-color: #ff4444;
}
.bg-danger-color-dark{
  background-color:#CC0000;
}
.bg-warning-color{
  background-color:#ffbb33;
}
.bg-warning-color-dark{
  background-color:#FF8800;
}
/*
.bg-success-color{
  background-color:#00C851;
}*/

.bg-success-color-primary{
  background-color:#00A15D;
}
.bg-success-color-dark{
  background-color:#007E33 !important;
}
.bg-success-color-light{
  background-color:#DDFFF0 !important;
}
.bg-info-color{
  background-color:#33b5e5;
}
.bg-info-color-dark{
  background-color:#0099CC;
}
.bg-info-color-darken{
  background-color:#04003a;
}

.bg-grey-lighten-5-color{
  background-color: #fafafa ;
}
.bg-grey-lighten-4-color{
  background-color: #f5f5f5;
}
.bg-grey-lighten-3-color{
  background-color: #eeeeee ;
}
.bg-grey-lighten-2-color{
  background-color: #e0e0e0;
}
.bg-grey-lighten-1-color{
  background-color: #bdbdbd;
}
.bg-grey-color{
  background-color: #9e9e9e;
}
.bg-darken1-color{
  background-color: #757575;
}
.bg-darken2-color{
  background-color: #616161;
}
.bg-darken3-color{
  background-color: #424242;
}
.bg-darken4-color{
  background-color: #212121 ;
}

.bg-transparent{
  background-color: transparent !important;
}



/* sobrescrever estilos */

.has-text-success{
  color: #00A15D !important;
}
.is-success{
  background-color: #00A15D !important;
}


/* cores degradês */

/*
.bg-collapse-gradient-success {
  background: linear-gradient(90deg, #06a460, #7dd996);
  margin: 26px;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
}*/

.bg-gradient-success-invert {
  /*background: linear-gradient(180deg, #00C851, #007E33);*/
  background: linear-gradient(90deg, #7dd996, #06a460);
}

/* do site WP original */
.bg-gradiente-layer {
  background-color: transparent;
  background-image: linear-gradient(135deg, #8ADF9C 0%, #00A15D 100%);
}




/* cores de textos */

.text-danger{
  color: #ff4444;
}
.text-danger-dark{
  color:#CC0000;
}
.text-warning{
  color:#ffbb33;
}
.text-warning-dark{
  color:#FF8800;
}
/*
.text-success{
  color:#00C851;
}
*/
.text-success-dark{
  color:#007E33;
}
.text-info{
  color:#33b5e5;
}
.text-info-dark{
  color:#0099CC;
}
.text-grey-lighten{
  color: #bdbdbd;
}
.text-grey{
  color: #9e9e9e;
}
.text-darken{
  color: #757575;
}
.text-darken2{
  color: #616161;
}
.text-darken3{
  color: #424242;
}
.text-darken4{
  color: #212121 ;
}
.text-white{
  color: #fff !important; 
}





.text-center{
  text-align: center;
} 
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-0x{
  font-size: 12px;
}
.text-2x{
  font-size: 14px;
}
.text-3x{
  font-size: 16px;
}
.text-4x{
  font-size: 18px;
}
.text-5x{
  font-size: 20px;
}
.text-6x{
  font-size: 22px;
}
.text-7x{
  font-size: 24px;
}
.text-8x{
  font-size: 26px;
}
.text-9x{
  font-size: 28px;
}
.text-10x{
  font-size: 30px;
}
.break-line{
  white-space: pre-wrap;  
}


/*
.text-bold{
  font-weight: bold;
}
.text-strong{
  font-weight:bold !important;
}
.text-strong-300{
  font-weight:300 !important;
}
.text-strong-400{
  font-weight:400 !important;
}
.text-strong-500{
  font-weight:500 !important;
}
.text-strong-600{
  font-weight:600 !important;
}
*/


/* margin */
.m-0{
  margin:0px;
}
.m-5{
  margin:5px;
}
.m-10{
  margin:10px !important;
}
.m-15{
  margin:15px !important;
}
.m-20{
  margin:20px;
}
.m-25{
  margin:25px;
}
.m-30{
  margin:30px;
}



/* no margin no padding */
.mp-0{
  margin:0;
  padding:0;
}


/* margin top */
.mt-0{
  margin-top:0px !important;
}
.mt-5{
  margin-top:5px !important;
}
.mt-10{
  margin-top:10px !important;
}
.mt-15{
  margin-top:15px !important;
}
.mt-20{
  margin-top:20px !important;
}
.mt-25{
  margin-top:25px !important;
}
.mt-30{
  margin-top:30px !important;
}
.mt-60{
  margin-top:60px !important;
}



/* margin bottom */
.mb-0{
  margin-bottom: 0px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-25{
  margin-bottom: 25px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px;
}



/* margin right */
.mr-0{
  margin-right: 0px;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.mr-20{
  margin-right: 20px;
}
.mr-25{
  margin-right: 25px;
}
.mr-30{
  margin-right: 30px;
}


/* margin left */
.ml-0{
  margin-left: 0px;
}
.ml-5{
  margin-left: 5px;
}
.ml-10{
  margin-left: 10px;
}
.ml-15{
  margin-left: 15px;
}
.ml-20{
  margin-left: 20px;
}
.ml-25{
  margin-left: 25px;
}
.ml-30{
  margin-left: 30px;
}


/* padding */
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}


/* Layout */
.navbar{
  background-color: transparent;
}

/*.navbar-item{
  z-index: 0;  
}*/

.legend{
	padding-top: 60px !important;
}

ul.planos{
  margin-top: 10px 20px 0px 20px !important;
}
ul.planos > li{
  padding:10px;  
}

.is-hidden {
  display: none;
}

.resize-50{
  width:50% !important;
}
.resize-25{
  width:25% !important;
}


/* customizações no Buma */

.logo-navbar{
  padding-left: 0px !important;
}

.card{
	padding: 20px;
}

.card-faq{
  padding:1px !important;
  margin:0px 0px 20px 0px !important;  
  z-index: 2;
  background-color: transparent !important;
}
.card-header-title{
  color: #fff;
  cursor: pointer;
}
.card-header-faq{
  background: linear-gradient(90deg, #06a460, #7dd996);
  margin: 0px;
  padding: 16px;
  color: white;
  font-weight: bold;
  text-align: left;
  border-radius: 5px;
}
.card-faq .card-content{
  /*background-color: red;*/
  background-color: transparent !important;
}

/* Estilo personalizado para a seta do submenu */
.navbar-link::after {
  border-color: #007E33 !important; /* Cor vermelha */
}

/* Para formulários */

/*.control-error{
  color: red !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}*/
.msg-error{
  color: red !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin: 10px;
  text-align: center;
}
.msg-success{
  color: #00C851 !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin: 10px;
  text-align: center;
}



/* Animação fade-in */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Animação fade-out */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}



/* Login de Sistema Externo */

.login-form-externo{
  position: absolute; top: 50px; right: 10px; width: 240px; z-index: 0; border-radius: 6px; background-color: #fff; border: 1px solid green; padding: 10px;
  /*position: fixed; top: 60px; right: 610px; float: right; z-index: 1000; border-radius: 6px; background-color: #fff; border: 1px solid green; padding: 10px;*/  
}


/* Para Mobile */

@media only screen and (max-width: 600px) {
  .container {
    padding: 20px !important;
  }
}



